<%= erb :header, :views => settings.partials_dir %>

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="page-header">
        <h1><%= @page_title %>
          <small> <%= @page_subtitle %></small>
        </h1>
      </div>

      <%= yield %>

    </div>
    <!-- .col -->

  </div>
  <!-- .row -->
</div> <!-- .container -->

<%= erb :footer, :views => settings.partials_dir %>
